<h1>Adout</h1>
<h3>How to use MyCloset</h3>

<ol>
  <li>服を登録　→　いつでも手持ちの服を確認できるようになります</li>
  <li>服を検索　→　手持ちの服を探すことができます</li>
  <li>登録した服をコーディネートして投稿　→　コーディネートを記録することができます</li>
  <li>他のユーザーの投稿を検索　→　他のユーザーのコーディネートを参考にできます</li>
</ol>

<p>
  <span>MyClosetの使い方は人それぞれ…<br></span>
  服を管理するのに使うのもよし<br>
  日々のコーディネートを記録するのもよし<br>
  投稿を公開して、コーディネートを発信するのもよし<br>
  服に関する悩みや不便さを解決し、毎日の服選びが楽しくなるサービスです
</p>
