<h1 class =" my-3 text-center">My Closet</h1>

<div class = "mx-auto my-5 width-80">
  <div class = "d-flex justify-content-between align-items-center height-320px">
    <%= image_tag 'closet.jpg', :size =>'480x320' %>
    <p>手持ちの服を登録しいつでもどこでもクローゼットの中身を確認</p>
  </div>

  <div class = "d-flex justify-content-between align-items-center height-320px">
    <p>登録した服を投稿し、日々のコーディネートを共有</p>
    <%= image_tag 'coordination.jpg', :size =>'480x320' %>
  </div>

  <div class = "d-flex justify-content-between align-items-center height-320px">
    <%= image_tag 'welcome.jpg', :size =>'480x320' %>
    <p>登録は簡単！さあ、始めてみよう　→　<%= link_to "Sign up", new_user_registration_path %></p>
  </div>
</div>
